@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  --main-color: #1A2E39;
  --branco-color: #f1f1f1;
  --second-color: #58A9CE;
  --border: 0.1rem solid rgba(88,169,206,0.3);
  font-size: 15px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
  min-height: 100vh;
}

.header-left h1 {
  color: #32b9cd;
}

.janela {
  display: flex;
  width: 20vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

:where(.config-container, .exercicio-container, .result-container) {
  /* display: none; */
  background-color: var(--branco-color);
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container {
  width: 415px;
  padding: 25px;
  text-align: center;
  
}

.config-container .config-title {
  font-size: 1.31rem;
}

.config-container .config-option {
  margin-top: 25px;
}

.config-option .option-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.config-option .exercicio-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 30px;
  justify-content: center;
}

.config-option .instrumentos-options {
  display: grid;
  gap: 15px;

}

.config-option button {
  padding: 12px;
  font-size: 0.938rem;
  font-weight: 500;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--main-color);
  transition: 0.3s ease;
}

.config-option button.active{
  color: var(--branco-color);
  border-color: var(--second-color);
  background: var(--main-color);
}

.config-option button:hover,
.exercicio-conteudo .answer-option:hover {
  background: var(--main-color);
  color: #fff;
}

.exercicio-options button{
  flex: 1 1 10%;
}

.config-container .praticar-btn,
.exercicio-footer .next-question-btn,
.result-container .try-again-btn{
  color: var(--branco-color);
  border: none;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 500;
  background: var(--main-color);
  padding: 13px 25px;
  font-size: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.config-container .praticar-btn {
  margin-top: 30px;
}

.config-container .praticar-btn:hover,
.exercicio-footer .next-question-btn:hover,
.result-container .try-again-btn:hover{
  background: var(--second-color);
}

.exercicio-container {
  width: 480px;
}


.exercicio-container .exercicio-header {
  display: flex;
  align-items: center;
  padding: 14px 25px;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.exercicio-header  {
  display: flex;
  width: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  padding: 7px 9px;
  border-radius: 6px;
  background: #1A2E39;
}

.exercicio-header  span{
  font-size: 1.4rem;
}

.exercicio-container .exercicio-conteudo {
  padding: 20px 25px 25px;
}

.exercicio-conteudo .question-texto {
  font-size: 1.5rem;
  font-weight: 600;
}

.exercicio-conteudo .answer-options {
  display: flex;
  gap: 15px;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
}

.exercicio-conteudo .answer-option{
  padding: 13px 16px;
  background: var(--second-color);
  color: #f1f1f1;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #58A9CE;
  transition: 0.3s ease;
}

.exercicio-conteudo .answer-option span {
  display: block;
  flex-shrink: 0;
  margin: -4px 3px -4px 12px;
}

.exercicio-conteudo .answer-option.correct {
  border-color: #B7E1C1;
  background: #D4EDDA;
  color: #155724;
}

.exercicio-conteudo .answer-option.incorrect {
  border-color: #F4BEC3;
  background: #F8D7DA;
  color: #721C24;
}

.exercicio-container .exercicio-footer {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--second-color);
}

.exercicio-footer .question-status {
  font-weight: 500;
}

.exercicio-footer .question-status b,
.result-container .result-message b{
  font-weight: 600;
}

.exercicio-footer .next-question-btn{
  display: inline-flex;
  gap: 5px;
  align-items: center;
  padding: 9px 17px;
}

.result-container {
  text-align: center;
  padding: 40px;
  width: 410px;
}

.result-container {
  /* width: 110px; */
}

.result-container .result-title {
  margin-top: 30px;
}

.result-container .result-message {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 15px;
}

.result-container .try-again-btn {
  margin-top: 30px;
  padding: 12px 20px;
}